
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Times New Roman", serif;
}

html{
    scroll-behavior:smooth;
}

body{
    line-height:1.6;
}
img {
  width: 200px;
  height: 150px;
}

/* Header */
header{
     background:#004526;
    color:white;
    padding:15px 30px;
    display:flex;
    flex-direction:column;  
    justify-content:center;
    align-items:center;
}

header h1{
    margin:0;
    font-size :45px;
    font-family: Times New Roman;
}


header h4{
    margin-top:5px;
    font-size:18px;
    font-weight: normal;
    font-family: Agency FB;
    color:gold;
}
/* Left Navigation */
.sidebar{
    position:fixed;
    scrollbar-width: auto;
    left:1;
    width:220px;
    height:100%;
    background:#006633;
    padding-top:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    font-size:20px;
   
}

.sidebar a:hover{
    background:#00994d;
}

/* Main Content */
.main{
    margin-left:220px;
}

/* Hero Section */
.hero{
    height:600px;
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("Pampa Card  Print-pages_page-0001.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:white;
}

.hero h2{
    font-size:48px;
    font-family:"Blackadder ITC";
    color:orange;
}
 
.hero p{
    font-size:18px;
    font-family:"Blackadder ITC";
}

/* Sections */

section{
    padding:60px;
}

section h2{
    color:#004526;
    margin-bottom:20px;
}

.features{
    text-align:center;
}

.feature-boxes{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.box{
    width:250px;
    background:#f4f4f4;
    border-radius:10px;
    padding:20px;
}

.box h3{
    color:#006633;
}

/* Contact Form */

form{
    width:60%;
    margin:auto;
}

input,select,textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    background:#004526;
    color:white;
    border:none;
    padding:12px 25px;
    cursor:pointer;
}

button:hover{
    background:#006633;
}

/* Footer */

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}
